# Importing libraries

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime as dt

# Importing the data

In [2]:
train_data = pd.read_csv('historical_data.csv',parse_dates =[1,2])
test_data = pd.read_csv('predict_data.csv',parse_dates =[1])

In [3]:
train_data.head()

,market_id,created_at,actual_delivery_time,store_id,store_primary_category,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_dashers,total_busy_dashers,total_outstanding_orders,estimated_order_place_duration,estimated_store_to_consumer_driving_duration
0,1.0,2015-02-06 22:24:00,2015-02-06 23:27:00,1845,american,1.0,4,3441,4,557,1239,33.0,14.0,21.0,446,861.0
1,2.0,2015-02-10 21:49:00,2015-02-10 22:56:00,5477,mexican,2.0,1,1900,1,1400,1400,1.0,2.0,2.0,446,690.0
2,3.0,2015-01-22 20:39:00,2015-01-22 21:09:00,5477,NaN,1.0,1,1900,1,1900,1900,1.0,0.0,0.0,446,690.0
3,3.0,2015-02-03 21:21:00,2015-02-03 22:13:00,5477,NaN,1.0,6,6900,5,600,1800,1.0,1.0,2.0,446,289.0
4,3.0,2015-02-15 02:40:00,2015-02-15 03:20:00,5477,NaN,1.0,3,3900,3,1100,1600,6.0,6.0,9.0,446,650.0

In [4]:
test_data.head()

,market_id,created_at,store_id,store_primary_category,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_dashers,total_busy_dashers,total_outstanding_orders,estimated_order_place_duration,estimated_store_to_consumer_driving_duration,delivery_id,platform
0,3.0,2015-02-25 02:22:30,5477,NaN,1.0,5,7500,4,800,1800,4.0,4.0,4.0,446,670.0,194096,android
1,3.0,2015-02-25 01:14:19,5477,NaN,1.0,5,7100,4,800,1500,4.0,1.0,1.0,446,446.0,236895,other
2,4.0,2015-02-22 02:27:44,5477,thai,1.0,4,4500,2,750,1500,9.0,7.0,6.0,446,504.0,190868,android
3,3.0,2015-02-25 01:32:39,5477,NaN,1.0,1,1700,1,1400,1400,3.0,3.0,3.0,446,687.0,183076,ios
4,1.0,2015-02-24 05:20:45,2841,italian,1.0,2,3150,2,1525,1625,4.0,4.0,4.0,446,528.0,186200,android

# Data engineering

## Delivery time

In [5]:
train_data['Duration'] = train_data['actual_delivery_time'] - train_data['created_at']
train_data['Duration'] = train_data['Duration'].dt.seconds

# drop the rows with delivery time more than three hours
train_data = train_data[train_data['Duration']<=10800]

## Dropping irrelevant columns

In [6]:
created_at = train_data.created_at
actual_delivery_time = train_data.actual_delivery_time

train_data = train_data.drop(columns = ['created_at','actual_delivery_time'])

## Summary of features

In [7]:
# converting negative values to nan
store_primary_category = train_data.store_primary_category
train_data = train_data.drop(columns=['store_primary_category']).applymap(lambda x:x if x>=0 else float('nan'))
train_data['store_primary_category'] = store_primary_category

In [8]:
def ds_summry(Mod_df_2):
    msng = ((Mod_df_2.isnull().sum()/len(Mod_df_2))*100).apply(round,args=(2,))
    uniq,max_v,min_v = Mod_df_2.nunique(),Mod_df_2.max(),Mod_df_2.min()
    df_stats = pd.concat([msng, uniq,max_v,min_v], axis=1).rename(index=str, 
                                                                  columns={0: "% missing", 1: "No_uniq",2:'Max_Val',3:'Min_Val'})
    return df_stats

ds_summry(train_data)

,% missing,No_uniq,Max_Val,Min_Val
market_id,0.50,6,6.0,1.0
store_id,0.00,6742,6987.0,1.0
order_protocol,0.50,7,7.0,1.0
total_items,0.00,57,411.0,1.0
subtotal,0.00,8367,27100.0,0.0
num_distinct_items,0.00,20,20.0,1.0
min_item_price,0.01,2300,14700.0,0.0
max_item_price,0.00,2652,14700.0,0.0
total_onshift_dashers,8.25,168,171.0,0.0
total_busy_dashers,8.25,154,154.0,0.0
total_outstanding_orders,8.26,275,285.0,0.0
estimated_order_place_duration,0.00,98,2715.0,0.0
estimated_store_to_consumer_driving_duration,0.27,1335,2088.0,0.0
Duration,0.00,178,10800.0,120.0
store_primary_category,2.41,74,NaN,NaN

## Handling categorical data and nan values

In [9]:
print('columns with null values:')
train_data.isnull().any(axis=0)

columns with null values:

market_id                                        True
store_id                                        False
order_protocol                                   True
total_items                                     False
subtotal                                        False
num_distinct_items                              False
min_item_price                                   True
max_item_price                                  False
total_onshift_dashers                            True
total_busy_dashers                               True
total_outstanding_orders                         True
estimated_order_place_duration                  False
estimated_store_to_consumer_driving_duration     True
Duration                                        False
store_primary_category                           True
dtype: bool

### market_id

In [10]:
# market_id: adding a new class for missing values:

train_data.loc[train_data['market_id'].isnull(),'market_id'] = 0

### store_id

In [11]:
# store_id: convert to numerical classes:

from sklearn import preprocessing
le_strid = preprocessing.LabelEncoder()
le_strid.fit(train_data['store_id'])
train_data['store_id_t'] = le_strid.transform(train_data['store_id'])
train_data.drop(['store_id'],axis = 1, inplace = True)

### order_protocol

In [12]:
# order_protocol: adding a new class for missing values:

train_data.loc[train_data['order_protocol'].isnull(),'order_protocol'] = 0

### min_item_price, total_onshift_dashers, total_busy_dashers, total_outstanding_orders, estimated_store_to_consumer_driving_duration

In [20]:
# impute with median value:

for i in ['min_item_price','total_onshift_dashers','total_busy_dashers','total_outstanding_orders',
          'estimated_store_to_consumer_driving_duration']:
    
    train_data.loc[train_data[i].isnull(),i] = train_data[i].median()
    
# onshift dashers < busy dashers !!

train_data['total_onshift_dashers'] = np.where(train_data['total_busy_dashers']>train_data['total_onshift_dashers'],
                                             train_data['total_busy_dashers'],train_data['total_onshift_dashers'])

### store_primary_category

In [39]:
# store_primary_category: adding a new class for missing values and encode to numerical classes:

train_data.loc[train_data['store_primary_category'].isnull(),'store_primary_category'] = 'miss'
le_str_ctg = preprocessing.LabelEncoder()
le_str_ctg.fit(train_data['store_primary_category'])
train_data['store_primary_category_t'] = le_str_ctg.transform(train_data['store_primary_category'])

train_data.drop(['store_primary_category'],axis = 1, inplace = True)

## Adding new features:

### Day, Hour, Shift

In [41]:
# Busy hours depend on day, hour and shift of the order

train_data['Deliv_Day'] = created_at.dt.weekday
train_data['Deliv_hour'] = created_at.dt.hour

def shift(x):
    if x >6 and x<12:
        return 1    # 'Morning'
    elif x >=12 and x<=17:
        return 2    #'Lunch'
    elif x >17 and x<24:
        return 3    #'Dinner'
    else:
        return 4    #'Early_Morning'
        
train_data['Deliver_shift'] = train_data['Deliv_hour'].apply(shift)

### Percentage of free dashers

In [42]:
# % of free dashers at any given time

train_data['%_Dashers_free'] = np.where((train_data['total_busy_dashers'] + train_data['total_onshift_dashers'] ==0) , 0,
                                      (1 - (train_data['total_busy_dashers']/train_data['total_onshift_dashers']))*100)

### Ratio of dashers and orders

In [43]:
# No of free dashers to no of outstanding orders at a given time

train_data['Free_Dash/Outdng_Orders'] = np.where((train_data['total_outstanding_orders'] ==0) , 0,
                                               (train_data['total_onshift_dashers'] - 
                                                train_data['total_busy_dashers'])/train_data['total_outstanding_orders'])

## Summary of new features

In [44]:
ds_summry(train_data)

,% missing,No_uniq,Max_Val,Min_Val
market_id,0.0,7,6.0,0.0
order_protocol,0.0,8,7.0,0.0
total_items,0.0,57,411.0,1.0
subtotal,0.0,8367,27100.0,0.0
num_distinct_items,0.0,20,20.0,1.0
min_item_price,0.0,2300,14700.0,0.0
max_item_price,0.0,2652,14700.0,0.0
total_onshift_dashers,0.0,168,171.0,0.0
total_busy_dashers,0.0,154,154.0,0.0
total_outstanding_orders,0.0,275,285.0,0.0
estimated_order_place_duration,0.0,98,2715.0,0.0
estimated_store_to_consumer_driving_duration,0.0,1335,2088.0,0.0
Duration,0.0,178,10800.0,120.0
store_id_t,0.0,6742,6741.0,0.0
store_primary_category_t,0.0,75,74.0,0.0
Deliv_Day,0.0,7,6.0,0.0
Deliv_hour,0.0,18,23.0,0.0
Deliver_shift,0.0,4,4.0,1.0
%_Dashers_free,0.0,2247,100.0,0.0
Free_Dash/Outdng_Orders,0.0,3125,32.0,0.0

# Pre-processing data

In [46]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

X = train_data.drop(['Duration'],axis = 1)
y = train_data[['Duration']]

# Breaking up into train/test  set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.35, random_state=10)

# Scaling the X variables for train set
scaler = StandardScaler().fit(X_train)

# Models

## Decision Tree

In [79]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error

dtr = DecisionTreeRegressor(max_depth = 11, min_samples_leaf = 12, random_state = 0)
dtr.fit(scaler.transform(X_train), y_train)
error = mean_squared_error(y_test, dtr.predict(scaler.transform(X_test)))

print('Decision Regressor', round(error,2))

Decision Regressor 914554.36

## Random Forest

In [65]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators =100)
rf.fit(scaler.transform(X_train), y_train)
error = mean_squared_error(y_test, rf.predict(scaler.transform(X_test)))

print('Random Forest Regressor', round(error,2))

Random Forest Regressor 819392.22

## Gradient Boosting

In [67]:
from sklearn.ensemble.gradient_boosting import GradientBoostingRegressor

gbr = GradientBoostingRegressor(n_estimators =100, max_depth=11, max_features = 12,
                                    random_state=0, learning_rate=0.01, loss='ls')
gbr.fit(scaler.transform(X_train), y_train) 
error = mean_squared_error(y_test, gbr.predict(scaler.transform(X_test)))

print('Gradient Boosting Regressor', round(error,2))

Gradient Boosting Regressor 889443.05

## Extra Trees

In [69]:
from sklearn.ensemble import ExtraTreesRegressor

etr = ExtraTreesRegressor(n_estimators=200, random_state=0)
etr.fit(scaler.transform(X_train), y_train) 
error = mean_squared_error(y_test, etr.predict(scaler.transform(X_test)))

print('Extra Trees Regressor', round(error,2))

Extra Trees Regressor 799797.83

## AdaBOOST

In [84]:
from sklearn.ensemble import AdaBoostRegressor

ada = AdaBoostRegressor(base_estimator=dtr, n_estimators=100, random_state=0, learning_rate=0.01, loss='square')
ada.fit(scaler.transform(X_train), y_train)
error = mean_squared_error(y_test, ada.predict(scaler.transform(X_test)))

print('Adaboost Regressor', round(error,2))

Adaboost Regressor 855084.35

## XGBoost

In [87]:
from xgboost import XGBRegressor

xgb = XGBRegressor()
xgb.fit(scaler.transform(X_train), y_train)
error = mean_squared_error(y_test, xgb.predict(scaler.transform(X_test)))

print('XGBoost Regressor', round(error,2))

XGBoost Regressor 764773.38

## MLP

In [91]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, BatchNormalization, Activation

from tensorflow import keras

def DNN():
    model = Sequential()
    model.add(Dense(50, input_dim=19, kernel_initializer='GlorotUniform', activation='tanh'))
    model.add(Dense(50, activation='tanh'))
    model.add(Dense(10, activation='tanh'))
    model.add(Dense(1))

    # Compile model
    model.compile(loss='mse', optimizer='adam')
    return model

model = DNN()
model.fit(scaler.transform(X_train), y_train, epochs=100, batch_size=256)

Epoch 1/100
128234/128234 [==============================] - 2s 16us/sample - loss: 9237692.0728
Epoch 2/100
128234/128234 [==============================] - 2s 12us/sample - loss: 9200805.3867
Epoch 3/100
128234/128234 [==============================] - 2s 12us/sample - loss: 9168892.9881
Epoch 4/100
128234/128234 [==============================] - 2s 12us/sample - loss: 9137468.6354
Epoch 5/100
128234/128234 [==============================] - 2s 12us/sample - loss: 9106286.0822
Epoch 6/100
128234/128234 [==============================] - 2s 12us/sample - loss: 9075248.9360
Epoch 7/100
128234/128234 [==============================] - 2s 12us/sample - loss: 9044325.1711
Epoch 8/100
128234/128234 [==============================] - 2s 12us/sample - loss: 9013495.1447
Epoch 9/100
128234/128234 [==============================] - 2s 12us/sample - loss: 8982741.2733
Epoch 10/100
128234/128234 [==============================] - 2s 12us/sample - loss: 8952062.0285
Epoch 11/100
128234/128234 [==============================] - 2s 12us/sample - loss: 8921451.0759
Epoch 12/100
128234/128234 [==============================] - 2s 12us/sample - loss: 8890903.4413
Epoch 13/100
128234/128234 [==============================] - 2s 12us/sample - loss: 8860421.5923
Epoch 14/100
128234/128234 [==============================] - 2s 12us/sample - loss: 8830002.5637
Epoch 15/100
128234/128234 [==============================] - 2s 12us/sample - loss: 8799638.6184
Epoch 16/100
128234/128234 [==============================] - 2s 12us/sample - loss: 8769341.9581
Epoch 17/100
128234/128234 [==============================] - 2s 12us/sample - loss: 8739099.9740
Epoch 18/100
128234/128234 [==============================] - 2s 12us/sample - loss: 8708920.8624
Epoch 19/100
128234/128234 [==============================] - 2s 12us/sample - loss: 8678803.5467
Epoch 20/100
128234/128234 [==============================] - 2s 13us/sample - loss: 8648745.5335
Epoch 21/100
128234/128234 [==============================] - 2s 13us/sample - loss: 8618749.0600
Epoch 22/100
128234/128234 [==============================] - 2s 13us/sample - loss: 8588815.5555
Epoch 23/100
128234/128234 [==============================] - 2s 13us/sample - loss: 8558943.5026
Epoch 24/100
128234/128234 [==============================] - 2s 13us/sample - loss: 8529129.2898
Epoch 25/100
128234/128234 [==============================] - 1s 12us/sample - loss: 8499372.1244
Epoch 26/100
128234/128234 [==============================] - 1s 11us/sample - loss: 8469675.7862
Epoch 27/100
128234/128234 [==============================] - 1s 12us/sample - loss: 8440042.6153
Epoch 28/100
128234/128234 [==============================] - 1s 11us/sample - loss: 8410469.3597
Epoch 29/100
128234/128234 [==============================] - 2s 12us/sample - loss: 8380962.2332
Epoch 30/100
128234/128234 [==============================] - 1s 11us/sample - loss: 8351513.5170
Epoch 31/100
128234/128234 [==============================] - 1s 11us/sample - loss: 8322125.8123
Epoch 32/100
128234/128234 [==============================] - 2s 12us/sample - loss: 8292798.5208
Epoch 33/100
128234/128234 [==============================] - 2s 12us/sample - loss: 8263528.6782
Epoch 34/100
128234/128234 [==============================] - 2s 13us/sample - loss: 8234321.3532
Epoch 35/100
128234/128234 [==============================] - 2s 12us/sample - loss: 8205166.7047
Epoch 36/100
128234/128234 [==============================] - 2s 12us/sample - loss: 8176076.3464
Epoch 37/100
128234/128234 [==============================] - 2s 12us/sample - loss: 8147050.7795
Epoch 38/100
128234/128234 [==============================] - 2s 12us/sample - loss: 8118085.5437
Epoch 39/100
128234/128234 [==============================] - 2s 12us/sample - loss: 8089182.9777
Epoch 40/100
128234/128234 [==============================] - 2s 12us/sample - loss: 8060339.8889
Epoch 41/100
128234/128234 [==============================] - 2s 12us/sample - loss: 8031551.4339
Epoch 42/100
128234/128234 [==============================] - 2s 13us/sample - loss: 8002829.7339
Epoch 43/100
128234/128234 [==============================] - 2s 13us/sample - loss: 7974170.3823
Epoch 44/100
128234/128234 [==============================] - 1s 11us/sample - loss: 7945567.2027
Epoch 45/100
128234/128234 [==============================] - 1s 11us/sample - loss: 7917022.3648
Epoch 46/100
128234/128234 [==============================] - 1s 11us/sample - loss: 7888538.9149
Epoch 47/100
128234/128234 [==============================] - 1s 11us/sample - loss: 7860114.3816
Epoch 48/100
128234/128234 [==============================] - 1s 11us/sample - loss: 7831747.7140
Epoch 49/100
128234/128234 [==============================] - 1s 11us/sample - loss: 7803445.8231
Epoch 50/100
128234/128234 [==============================] - 1s 11us/sample - loss: 7775204.7926
Epoch 51/100
128234/128234 [==============================] - 1s 11us/sample - loss: 7747024.7678
Epoch 52/100
128234/128234 [==============================] - 1s 11us/sample - loss: 7718909.7250
Epoch 53/100
128234/128234 [==============================] - 1s 11us/sample - loss: 7690851.8198
Epoch 54/100
128234/128234 [==============================] - 1s 11us/sample - loss: 7662854.9828
Epoch 55/100
128234/128234 [==============================] - 1s 11us/sample - loss: 7634915.4074
Epoch 56/100
128234/128234 [==============================] - 1s 11us/sample - loss: 7607035.3241
Epoch 57/100
128234/128234 [==============================] - 1s 11us/sample - loss: 7579222.9295
Epoch 58/100
128234/128234 [==============================] - 1s 12us/sample - loss: 7551468.7112
Epoch 59/100
128234/128234 [==============================] - 1s 11us/sample - loss: 7523769.8366
Epoch 60/100
128234/128234 [==============================] - 1s 11us/sample - loss: 7496132.0885
Epoch 61/100
128234/128234 [==============================] - 1s 11us/sample - loss: 7468558.8346
Epoch 62/100
128234/128234 [==============================] - 1s 11us/sample - loss: 7441043.5912
Epoch 63/100
128234/128234 [==============================] - 1s 11us/sample - loss: 7413587.0997
Epoch 64/100
128234/128234 [==============================] - 1s 11us/sample - loss: 7386195.2186
Epoch 65/100
128234/128234 [==============================] - 1s 11us/sample - loss: 7358865.3087
Epoch 66/100
128234/128234 [==============================] - 1s 11us/sample - loss: 7331593.5286
Epoch 67/100
128234/128234 [==============================] - 1s 11us/sample - loss: 7304379.2794
Epoch 68/100
128234/128234 [==============================] - 1s 11us/sample - loss: 7277223.8368
Epoch 69/100
128234/128234 [==============================] - 1s 11us/sample - loss: 7250130.4112
Epoch 70/100
128234/128234 [==============================] - 1s 11us/sample - loss: 7223102.6677
Epoch 71/100
128234/128234 [==============================] - 1s 11us/sample - loss: 7196137.8244
Epoch 72/100
128234/128234 [==============================] - 1s 11us/sample - loss: 7169224.8849
Epoch 73/100
128234/128234 [==============================] - 1s 11us/sample - loss: 7142373.7984
Epoch 74/100
128234/128234 [==============================] - 1s 11us/sample - loss: 7115583.7917
Epoch 75/100
128234/128234 [==============================] - 1s 12us/sample - loss: 7088853.7078
Epoch 76/100
128234/128234 [==============================] - 1s 12us/sample - loss: 7062179.9243
Epoch 77/100
128234/128234 [==============================] - 2s 12us/sample - loss: 7035566.4778
Epoch 78/100
128234/128234 [==============================] - 2s 12us/sample - loss: 7009020.4032
Epoch 79/100
128234/128234 [==============================] - 2s 13us/sample - loss: 6982533.8573
Epoch 80/100
128234/128234 [==============================] - 2s 13us/sample - loss: 6956107.8785
Epoch 81/100
128234/128234 [==============================] - 2s 13us/sample - loss: 6929742.9000
Epoch 82/100
128234/128234 [==============================] - 2s 12us/sample - loss: 6903437.2949
Epoch 83/100
128234/128234 [==============================] - 2s 13us/sample - loss: 6877193.0641
Epoch 84/100

128234/128234 [==============================] - 2s 14us/sample - loss: 6851009.7326
Epoch 85/100
128234/128234 [==============================] - 2s 13us/sample - loss: 6824889.7549
Epoch 86/100
128234/128234 [==============================] - 2s 12us/sample - loss: 6798822.8785
Epoch 87/100
128234/128234 [==============================] - 2s 12us/sample - loss: 6772816.0305
Epoch 88/100
128234/128234 [==============================] - 1s 11us/sample - loss: 6746870.2482
Epoch 89/100
128234/128234 [==============================] - 1s 12us/sample - loss: 6720986.2547
Epoch 90/100
128234/128234 [==============================] - 2s 12us/sample - loss: 6695164.4439
Epoch 91/100
128234/128234 [==============================] - 2s 12us/sample - loss: 6669404.5842
Epoch 92/100
128234/128234 [==============================] - 2s 12us/sample - loss: 6643701.9606
Epoch 93/100
128234/128234 [==============================] - 2s 12us/sample - loss: 6618059.5233
Epoch 94/100
128234/128234 [==============================] - 2s 12us/sample - loss: 6592478.9220
Epoch 95/100
128234/128234 [==============================] - 2s 12us/sample - loss: 6566955.0768
Epoch 96/100
128234/128234 [==============================] - 2s 12us/sample - loss: 6541493.6917
Epoch 97/100
128234/128234 [==============================] - 2s 12us/sample - loss: 6516095.1440
Epoch 98/100
128234/128234 [==============================] - 2s 13us/sample - loss: 6490762.9154
Epoch 99/100
128234/128234 [==============================] - 2s 12us/sample - loss: 6465487.1927
Epoch 100/100
128234/128234 [==============================] - 2s 12us/sample - loss: 6440267.6621

In [92]:
error = mean_squared_error(y_test, model.predict(scaler.transform(X_test)))

print('MLP', round(error,2))

MLP 6504656.46